target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
.idea/
*.iml
#ignore {module}-git.properties
qwandaq/src/main/resources/QwandaQ-git.properties
quarkus-genny/runtime/src/main/resources/Quarkus Genny - Runtime-git.properties
apiq/src/main/resources/apiq-git.properties
shleemy/src/main/resources/shleemy-git.properties
